/*
 * uCP1020 OpsController on uCP1020 SOM Rev.1.3 (32-bit address map)
 *
 * Copyright 2013-2018 Arcturus Networks Inc.
 * https://www.ArcturusNetworks.com/OSS
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions
 * are met:
 * 1. Redistributions of source code must retain the above copyright
 *    notice, this list of conditions and the following disclaimer.
 * 2. Redistributions in binary form must reproduce the above copyright
 *    notice, this list of conditions and the following disclaimer in the
 *    documentation and/or other materials provided with the distribution.
 * 3. Neither the name of Arcturus Networks Inc. nor the
 *    names of its contributors may be used to endorse or promote products
 *    derived from this software without specific prior written permission.
 *
 * ALTERNATIVELY, this software may be distributed under the terms of the
 * GNU General Public License ("GPL") as published by the Free Software
 * Foundation, either version 2 of that License or (at your option) any
 * later version.
 *
 * THIS SOFTWARE IS PROVIDED BY ARCTURUS NETWORKS INC. ``AS IS'' AND ANY
 * EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
 * WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
 * DISCLAIMED.  IN NO EVENT SHALL ARCTURUS NETWORKS INC. BE LIABLE FOR ANY
 * DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
 * (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
 * LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
 * ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
 * (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
 * SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */

&lbc {
	nor@0,0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "cfi-flash";
		reg = <0x0 0x0 0x04000000>;
		bank-width = <2>;
		device-width = <1>;

		partition@100000 {
			/* 7MB - PART 0 */
			reg = <0x00100000 0x00700000>;
			label = "0";
		};

		partition@800000 {
			/* size=49MB - PART 1 JFFS2 */
			reg = <0x0800000 0x02f00000>;
			label = "1";
		};

		partition@3700000 {
			/*  size=0.5MB- PART 2 CRAMFS */
			reg = <0x03700000 0x00080000>;
			label = "2";
		};

		partition@3780000 {
			/*  size=8MB- PART 3 JFFS2 */
			reg = <0x03780000 0x00800000>;
			label = "3";
		};
	};
};

&soc {
	i2c@3000 {
		spoc@14 {
			compatible = "conexant,cx2070x";
			reg = <0x14>;
		};
	};

	i2c@3100 {
			dtt@4C {
				compatible = "national,lm90";
				reg = <0x4C>;
			};
	};

	spi@7000 {
		flash@0 {
			#address-cells = <1>;
			#size-cells = <1>;
			compatible = "winbond,w25q80bl";
			reg = <0>;
			spi-max-frequency = <40000000>; /* input clock */

			partition@0 {
				label = "SPI MBR";
				reg = <0x00000000 0x00002000>;
				read-only;
			};
			partition@2000 {
				label = "SPI ENV";
				reg = <0x00002000 0x00006000>;
				read-only;
			};
			partition@8000 {
				label = "SPI FS";
				reg = <0x00008000 0x000F8000>;
			};
		};
		flash@3 {
			#address-cells = <1>;
			#size-cells = <1>;
			compatible = "spansion,s25fl008k";
			reg = <3>;
			spi-max-frequency = <40000000>; /* input clock */
			partition@0 {
				label = "SPI USER";
				reg = <0x00000000 0x00100000>;
			};
		};
	};

	usb@22000 {
		phy_type = "ulpi";
		dr_mode = "host";
	};

	mdio@24000 {
		phy0: ethernet-phy@4 {
			interrupt-parent = <&mpic>;
			interrupts = <4 1>;
			reg = <0x04>;
		};

		phy1: ethernet-phy@6 {
			interrupt-parent = <&mpic>;
			interrupts = <8 1>;
			reg = <0x6>;
		};
	};

	enet0: ethernet@b0000 {
		phy-handle = <&phy0>;
		phy-connection-type = "rgmii-id";
	};

	enet1: ethernet@b1000 {
		status = "disabled";
	};

	enet2: ethernet@b2000 {
		phy-handle = <&phy1>;
		phy-connection-type = "rgmii-id";
	};

	gpio0: gpio@f000 {
		compatible = "fsl,mpc8572-gpio", "fsl,pq3-gpio";
		reg = <0xf000 0x1000>;
		interrupts = <47 2>;
		interrupt-parent = <&mpic>;
		#gpio-cells = <2>;
		gpio-controller;
	};

	gpio-leds {
		compatible = "gpio-leds";
		gpio5 {
			label = "led1";		/* LED15 */
			gpios = <&gpio0 5 0>;
		};
		gpio12 {
			label = "led2";		/* LED16 */
			gpios = <&gpio0 12 0>;
		};
		gpio13 {
			label = "led3";		/* LED17 */
			gpios = <&gpio0 13 0>;
		};
		gpio7 {
			label = "led4";		/* LED18 */
			gpios = <&gpio0 7 0>;
		};
		gpio6 {
			label = "led5";		/* LED19 */
			gpios = <&gpio0 6 0>;
		};
	};
/**********
	sdhc@2e000 {
		cd-gpios = <&gpio0 8 0>;	* card detect *
		wp-gpios = <&gpio0 9 0>;	* write protect *
		wp-inverted;			* WP active high *
	};
***********/
};
